<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- startup to register the XCSG tag hierarchy extensions -->
   <extension point="org.eclipse.ui.startup">
     <startup class="com.ensoftcorp.open.commons.startup.RegisterHierarchyStartup"/>
   </extension>

   <!-- create an Atlas Toolbox parent preferences menu item -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.commons.ui.AtlasToolboxPreferencesPage"
            id="com.ensoftcorp.open.commons.ui.toolbox.preferences"
            name="Atlas Toolbox">
      </page>
   </extension>

	<!-- add toolbox commons smart views -->
    <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.ensoftcorp.open.commons.ui.views.smart.UniversalGraphExplorerSmartView">
      </script>
   </extension>

   <!-- defines the tooblox commons handler actions -->
   <extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.commons.menus.editToolboxPreferencesCommand"
	         class="com.ensoftcorp.open.commons.handlers.ToolboxPreferencesHandler">
	   </handler>
	</extension>
	<extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.commons.menus.showGraphElementsCommand"
	         class="com.ensoftcorp.open.commons.handlers.ShowGraphElementsHandler">
	   </handler>
	</extension>
	<extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.commons.menus.showSubsystemTagHierarchyCommand"
	         class="com.ensoftcorp.open.commons.handlers.ShowSubsystemTagHierarchyHandler">
	   </handler>
	</extension>

	<!-- defines an Atlas Toolbox menu category -->
	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution
	         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
	      <menu
	            label="Atlas Toolbox"
	            id="com.ensoftcorp.open.commons.menus.toolbox">
	            <command
	               commandId="com.ensoftcorp.open.commons.menus.editToolboxPreferencesCommand"
	               label="Edit Preferences"
	               id="com.ensoftcorp.open.commons.menus.editToolboxPreferencesCommandMenuItem">
	         </command>
	      </menu>
	   </menuContribution>
	</extension>
	
	<!-- extend the Atlas Toolbox menu with a new submenu for commons analysis -->
	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution
	         locationURI="menu:com.ensoftcorp.open.commons.menus.toolbox?after=additions">
	      <menu
	            label="Toolbox Commons"
	            id="com.ensoftcorp.open.commons.menus.commonsMenu">
	         <command
	               commandId="com.ensoftcorp.open.commons.menus.showGraphElementsCommand"
	               label="Show Graph Elements by Address"
	               id="com.ensoftcorp.open.commons.menus.showGraphElementsCommandMenuItem">
	         </command>
	         <command
	               commandId="com.ensoftcorp.open.commons.menus.showSubsystemTagHierarchyCommand"
	               label="Show Subsystem Tag Hiearchy"
	               id="com.ensoftcorp.open.commons.menus.showSubsystemTagHierarchyCommandMenuItem">
	         </command>
	      </menu>
	   </menuContribution>
	</extension>
	
	<!-- defines an Atlas Toolbox view category -->
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Atlas Toolbox"
            id="com.ensoftcorp.open.commons.views.categories.toolbox">
      </category>
   </extension>
   
   <!-- extension for Filter View view -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.commons.ui.views.filter.FilterView"
            icon="icons/funnel.gif"
            id="com.ensoftcorp.open.commons.ui.views.filter"
            name="Filter View">
      </view>
   </extension>
   
   <!-- extension for Code Painter Control Panel view -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.commons.ui.views.codepainter.CodePainterControlPanel"
            icon="icons/brush.gif"
            id="com.ensoftcorp.open.commons.ui.views.codepainter.controlpanel"
            name="Code Painter Control Panel">
      </view>
   </extension>
   
   <!-- adds code painter definitions -->
   <extension point="com.ensoftcorp.open.commons.codepainter">
      <codepainter class="com.ensoftcorp.open.commons.ui.views.codepainter.codepainters.UniversalGraphExplorerCodePainter"></codepainter>
      <codepainter class="com.ensoftcorp.open.commons.ui.views.codepainter.codepainters.ControlFlowCodePainter"></codepainter>
      <codepainter class="com.ensoftcorp.open.commons.ui.views.codepainter.codepainters.DataFlowCodePainter"></codepainter>
   </extension>
   
   <!-- adds color palette definitions -->
   <extension point="com.ensoftcorp.open.commons.colorpalette">
      <colorpalette class="com.ensoftcorp.open.commons.ui.views.codepainter.colorpalettes.ControlFlowEdgeTypeColorPalette"></colorpalette>
      <colorpalette class="com.ensoftcorp.open.commons.ui.views.codepainter.colorpalettes.ControlFlowLoopDepthColorPalette"></colorpalette>
   </extension>
   
   <!-- extension for Composite Filter View view -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.commons.ui.views.filter.CompositeFilterView"
            icon="icons/funnel.gif"
            id="com.ensoftcorp.open.commons.ui.views.composite-filter"
            name="Composite Filter View">
      </view>
   </extension>
   
   <!-- defines an extension point schema for contributing subsystem definitons -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.subsystem" 
   		name="Subsystem" 
   		schema="schema/com.ensoftcorp.open.commons.subsystem.exsd"/>
   
   <!-- defines an extension point schema for contributing prioritized codemap stages -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.codemap" 
   		name="Prioritized Codemap Stage" 
   		schema="schema/com.ensoftcorp.open.commons.codemap.exsd"/>

   <!-- defines an extension point schema for contributing filters -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.filter"
   		name="Filter"
   		schema="schema/com.ensoftcorp.open.commons.filter.exsd"/>
   
   <!-- defines an extension point schema for fitlerable root sets -->
   <extension-point id="com.ensoftcorp.open.commons.filter.rootset"
   		 name="Filterable Root Set"
   		 schema="schema/com.ensoftcorp.open.commons.filter.rootset.exsd"/>
   
   <!-- defines an extension point schema for analyzers -->
   <extension-point
   		 id="com.ensoftcorp.open.commons.analyzer"
   		 name="Analyzer"
   		 schema="schema/com.ensoftcorp.open.commons.analyzer.exsd"/>
   
   <!-- defines an extension point schema for language analysis handlers -->
   <extension-point 
      	 id="com.ensoftcorp.open.commons.language.analysis" 
      	 name="LanguageSpecificAnalysis" 
      	 schema="schema/com.ensoftcorp.open.commons.language.analysis.exsd"/>
      	 
   <!-- defines an extension point schema for color palettes -->
   <extension-point 
   		 id="com.ensoftcorp.open.commons.colorpalette" 
   		 name="Color Palette" 
   		 schema="schema/com.ensoftcorp.open.commons.colorpalette.exsd"/>
   
   <!-- defines an extension point schema for code painters -->
   <extension-point 
   		 id="com.ensoftcorp.open.commons.codepainter" 
   		 name="Code Painter" 
   		 schema="schema/com.ensoftcorp.open.commons.codepainter.exsd"/>
   
   <!-- adds a post code map hook for running registered prioritized codemap stages -->
   <extension
         point="com.ensoftcorp.atlas.core.ToolboxExtensionPoint">
      <indexer
            class="com.ensoftcorp.open.commons.codemap.AtlasToolboxCodemapStage">
      </indexer>
   </extension>
   
   <!-- create an initializer extension to initialize toolbox commons preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.CommonsPreferences">
	   </initializer>
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.SubsystemPreferences">
	   </initializer>
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.AnalyzerPreferences">
	   </initializer>
	</extension>
	
   <!-- create a preferences menu item for toolbox commons -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.commons.ui.CommonsPreferencesPage"
            id="com.ensoftcorp.open.commons.ui.preferences"
            name="Toolbox Commons"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
      <page
            class="com.ensoftcorp.open.commons.ui.SubsystemsPreferencesPage"
            id="com.ensoftcorp.open.commons.ui.preferences.subystems"
            name="Toolbox Commons (Subystems)"
            category="com.ensoftcorp.open.commons.ui.preferences">
      </page>
      <page
            class="com.ensoftcorp.open.commons.ui.AnalyzersPreferencesPage"
            id="com.ensoftcorp.open.commons.ui.preferences.analyzers"
            name="Toolbox Commons (Analyzers)"
            category="com.ensoftcorp.open.commons.ui.preferences">
      </page>
   </extension>
   
   <!-- adds the prioritized codemap stage for computing control flow graph dominance trees -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.commons.algorithms.DominanceAnalysis"></codemap>
   </extension>
   
   <!-- adds the prioritized codemap stage for subystems tagging -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.commons.subsystems.SubsystemCodemapStage"></codemap>
   </extension>
   
   <!-- TODO: add a startup hook to register the subsystems tagging hierarchy -->
   
   <!-- adds the prioritized codemap stage for caching analyzer results -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.commons.analyzers.Analyzers"></codemap>
   </extension>

   <!-- adds analyzer definitions -->
   <extension point="com.ensoftcorp.open.commons.analyzer">
      <analyzer class="com.ensoftcorp.open.commons.analyzers.CyclomaticComplexity"></analyzer>
   </extension>
   
   <!-- adds filter definitions -->
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.commons.filters.NameFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.CyclomaticComplexityFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.SubsystemInteractionFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.LoopChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalTryChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalCatchChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalFinallyChildFilter"></filter>
   </extension>
   
   <!-- adds codepainter smart view -->
   <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.ensoftcorp.open.commons.ui.views.smart.CodePainterSmartView">
      </script>
   </extension>
   
   <!-- adds filter rootset definitions -->
   <extension point="com.ensoftcorp.open.commons.filter.rootset">
      <rootset class="com.ensoftcorp.open.commons.filters.rootset.UniverseRootset"></rootset>
   </extension>

	<!-- adds Dashboard view -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.commons.ui.views.dashboard.DashboardView"
            icon="icons/dashboard.gif"
            id="com.ensoftcorp.open.commons.ui.views.dashboard.DashboardView"
            name="Dashboard">
      </view>
   </extension>
  
</plugin>
