<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- startup to register the XCSG tag hierarchy extensions -->
   <extension point="org.eclipse.ui.startup">
     <startup class="com.ensoftcorp.open.commons.startup.RegisterHierarchyStartup"/>
   </extension>
   
   <!-- defines an extension point schema for contributing project properties initializers definitons -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.project.properties.initializer" 
   		name="Project Analysis Properties Initializer" 
   		schema="schema/com.ensoftcorp.open.commons.project.properties.initializer.exsd"/>
   
   <!-- defines an extension point schema for contributing subsystem definitons -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.subsystem" 
   		name="Subsystem" 
   		schema="schema/com.ensoftcorp.open.commons.subsystem.exsd"/>
   
   <!-- defines an extension point schema for contributing prioritized codemap stages -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.codemap" 
   		name="Prioritized Codemap Stage" 
   		schema="schema/com.ensoftcorp.open.commons.codemap.exsd"/>

   <!-- defines an extension point schema for contributing filters -->
   <extension-point 
   		id="com.ensoftcorp.open.commons.filter"
   		name="Filter"
   		schema="schema/com.ensoftcorp.open.commons.filter.exsd"/>
   
   <!-- defines an extension point schema for fitlerable root sets -->
   <extension-point id="com.ensoftcorp.open.commons.filter.rootset"
   		 name="Filterable Root Set"
   		 schema="schema/com.ensoftcorp.open.commons.filter.rootset.exsd"/>
   
   <!-- defines an extension point schema for analyzers -->
   <extension-point
   		 id="com.ensoftcorp.open.commons.analyzer"
   		 name="Analyzer"
   		 schema="schema/com.ensoftcorp.open.commons.analyzer.exsd"/>
   
   <!-- defines an extension point schema for language analysis handlers -->
   <extension-point 
      	 id="com.ensoftcorp.open.commons.language.analysis" 
      	 name="LanguageSpecificAnalysis" 
      	 schema="schema/com.ensoftcorp.open.commons.language.analysis.exsd"/>
      	 
   <!-- defines an extension point schema for color palettes -->
   <extension-point 
   		 id="com.ensoftcorp.open.commons.colorpalette" 
   		 name="Color Palette" 
   		 schema="schema/com.ensoftcorp.open.commons.colorpalette.exsd"/>
   
   <!-- defines an extension point schema for code painters -->
   <extension-point 
   		 id="com.ensoftcorp.open.commons.codepainter" 
   		 name="Code Painter" 
   		 schema="schema/com.ensoftcorp.open.commons.codepainter.exsd"/>
   
   <!-- adds a post code map hook for running registered prioritized codemap stages -->
   <extension point="com.ensoftcorp.atlas.core.ToolboxExtensionPoint">
      <indexer class="com.ensoftcorp.open.commons.codemap.AtlasToolboxCodemapStage" />
   </extension>
   
   <!-- create an initializer extension to initialize toolbox commons preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.CommonsPreferences">
	   </initializer>
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.SubsystemPreferences">
	   </initializer>
	   <initializer
	         class="com.ensoftcorp.open.commons.preferences.AnalyzerPreferences">
	   </initializer>
	</extension>
	
	<!-- add codemap stages -->
   <extension point="com.ensoftcorp.open.commons.codemap">
   	  <!-- adds the prioritized codemap stage for normalizing graph element addresses -->
      <codemap class="com.ensoftcorp.open.commons.utilities.address.NormalizedAddress" />
   	  
   	  <!-- adds the prioritized codemap stage for computing control flow graph dominance trees -->
      <codemap class="com.ensoftcorp.open.commons.algorithms.DominanceAnalysis" />
      
      <!-- adds the prioritized codemap stage for subystems tagging -->
      <codemap class="com.ensoftcorp.open.commons.subsystems.SubsystemCodemapStage" />
      
      <!-- adds the prioritized codemap stage for analysis properties initializers -->
      <codemap class="com.ensoftcorp.open.commons.codemap.ProjectAnalysisDefaultPropertiesInitializer" />
      
      <!-- adds the loop depth calculation codemap stage -->
      <codemap class="com.ensoftcorp.open.commons.codemap.LoopDepth" />
      
      <!-- adds the prioritized codemap stage for caching analyzer results -->
      <codemap class="com.ensoftcorp.open.commons.analyzers.Analyzers"></codemap>
      
      <!-- adds the prioritized codemap stage for ICFG construction -->
      <codemap class="com.ensoftcorp.open.commons.codemap.ICFGConstruction"></codemap>
   </extension>
   
   <!-- adds analyzer definitions -->
   <extension point="com.ensoftcorp.open.commons.analyzer">
      <analyzer class="com.ensoftcorp.open.commons.analyzers.CyclomaticComplexity"></analyzer>
      <analyzer class="com.ensoftcorp.open.commons.analyzers.RecursiveFunctions"></analyzer>
      <analyzer class="com.ensoftcorp.open.commons.analyzers.DeadCode"></analyzer>
   </extension>
   
   <!-- adds filter definitions -->
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.commons.filters.NameFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.CyclomaticComplexityFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.SubsystemInteractionFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.LoopChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalTryChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalCatchChildFilter"></filter>
      <filter class="com.ensoftcorp.open.commons.filters.ExceptionalFinallyChildFilter"></filter>
   </extension>
   
   <!-- adds filter rootset definitions -->
   <extension point="com.ensoftcorp.open.commons.filter.rootset">
      <rootset class="com.ensoftcorp.open.commons.filters.rootset.UniverseRootset"></rootset>
   </extension>
  
</plugin>
